body {
    margin: 50px;
}

body,
a {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    color: rgb(53, 53, 53);
}

.header-container,
.main-container,
.footer-container,
h1,
h3,
.contacts,
.summary,
.experience {
    padding-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

@media (min-width: 768px) {
    .profile-photo {
        width: 200px;
        height: 200px;
    }
}

.contacts>div>img {
    width: 30px;
    height: 30px;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
}